<h2>ユーザー基本情報</h2>

<div class="col col-md-8 offset-md-2">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col col-md-8 offset-md-2">
  <%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "btn btn-navy" %>
</div>
