<div id="pageBase">
	<form method="post">
    <div class="login">
      <h1 class="logo"><img src="/top_logo.png" alt="PARTS LIST"></h1>
    </div>
  </form>

	<footer id="footer">
		sample company co., ltd. © 2020
	</footer>
</div>