<h2>送信完了しました。</h2>

<h3><%= Contact.human_attribute_name :name %>: <%= @contact.name %></h3>

<h3>お問い合わせ内容の確認</h3>

<p style="white-space: pre-wrap;"><%= @contact.content %></p>

<h4>PARTS LIST</h4>
