@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'admins';
@import 'brands';
@import 'categories';
@import 'favorites';
@import 'home';
@import 'products';
@import 'users';

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  color: #47619c;
  text-align: center;
}

.main {
  margin-top: 20px;
}

.field {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.rigth {
  text-align: right;
}

.fa-edit {
  color: #47619c;
}

.fa-window-close {
  color: #6c757d;
}

.fa-pencil-alt {
  color: #47619c;
}

.fa-trash-alt {
  color: #dc3545;
}

.fa-file-pdf {
  color: #dc3545;
}

.favorite-star {
  color: #47619c;
}

.star-icon-on:hover {
  text-decoration: none;
}

.star-icon-off:hover {
  text-decoration: none;
}

.w-100px {
  width: 100px;
}

.w-460px {
  width: 460px;
}

.title-logo {
  width: 45%;
  height: 45%;
}

.file-data {
  font-size: xx-small;
}

/*------------------------------------
- kaminari navy
------------------------------------*/

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #47619c;
  border-color: #47619c;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #47619c;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

/*------------------------------------
- COLOR navy
------------------------------------*/

$navy_t1: #47619c;
$navy_t2: #374b78;
$navy_t3: #a9b7d7;
$navy_t4: #bac6df;
$navy_t5: #202c47;
$navy_t6: #32446e;
$navy_t7: #3b5183;
$navy_t8: #101624;
$navy_t9: #c8d1e6;

$navy_shadow: rgba(71, 97, 156, 0.5);
$navy_text_color_dark_bright: #fff;


.alert-navy {
  color: $navy_t5;
  background-color: $navy_t9;
  border-color: $navy_t4;
}

.alert-navy hr {
  border-top-color: $navy_t3;
}

.alert-navy .alert-link {
  color: $navy_t8;
}

.badge-navy {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t1;
}

.badge-navy[href]:hover, .badge-navy[href]:focus {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t2;
}

.bg-navy {
  background-color: $navy_t1 !important;
}

a.bg-navy:hover, a.bg-navy:focus,
button.bg-navy:hover,
button.bg-navy:focus {
  background-color: $navy_t2 !important;
}

.border-navy {
  border-color: $navy_t1 !important;
}

.btn-navy {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t1;
  border-color: $navy_t1;
}

.btn-navy:hover {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t7;
  border-color: $navy_t2;
}

.btn-navy:focus, .btn-navy.focus {
  box-shadow: 0 0 0 0.2rem $navy_shadow;
}

.btn-navy.disabled, .btn-navy:disabled {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t1;
  border-color: $navy_t1;
}

.btn-navy:not(:disabled):not(.disabled):active, .btn-navy:not(:disabled):not(.disabled).active, .show > .btn-navy.dropdown-toggle {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t2;
  border-color: $navy_t6;
}

.btn-navy:not(:disabled):not(.disabled):active:focus, .btn-navy:not(:disabled):not(.disabled).active:focus, .show > .btn-navy.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $navy_shadow;
}

.btn-outline-navy {
  color: $navy_t1;
  background-color: transparent;
  border-color: $navy_t1;
}

.btn-outline-navy:hover {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t1;
  border-color: $navy_t1;
}

.btn-outline-navy:focus, .btn-outline-navy.focus {
  box-shadow: 0 0 0 0.2rem $navy_shadow;
}

.btn-outline-navy.disabled, .btn-outline-navy:disabled {
  color: $navy_t1;
  background-color: transparent;
}

.btn-outline-navy:not(:disabled):not(.disabled):active, .btn-outline-navy:not(:disabled):not(.disabled).active, .show > .btn-outline-navy.dropdown-toggle {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t1;
  border-color: $navy_t1;
}

.btn-outline-navy:not(:disabled):not(.disabled):active:focus, .btn-outline-navy:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-navy.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $navy_shadow;
}

.list-group-item-navy {
  color: $navy_t5;
  background-color: $navy_t4;
}

.list-group-item-navy.list-group-item-action:hover, .list-group-item-navy.list-group-item-action:focus {
  color: $navy_t5;
  background-color: $navy_t3;
}

.list-group-item-navy.list-group-item-action.active {
  color: $navy_text_color_dark_bright;
  background-color: $navy_t5;
  border-color: $navy_t5;
}

.table-navy,
.table-navy > th,
.table-navy > td {
  background-color: $navy_t4;
}

.table-hover .table-navy:hover {
  background-color: $navy_t3;
}

.table-hover .table-navy:hover > td,
.table-hover .table-navy:hover > th {
  background-color: $navy_t3;
}

.text-navy {
  color: $navy_t1 !important;
}

a.text-navy:hover, a.text-navy:focus {
  color: $navy_t2 !important;
}

#table-navy tr:nth-child(2n+1) td {
  background-color: #c8d1e6;
}

/* devise error explanation */

#error_explanation {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 5px;
  padding: 10px 10px 1px 10px;
  ul {
    list-style-type: square;
  }
}

/* デバッグ */

.debug_dump {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #47619c;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}
