.model-link a {
  color: #47619c;
  text-decoration: underline;
  font-weight: bold;
  font-size: 110%;
}

.new-product-btn {
  margin-bottom: 10px;
  display: flex;
}

.new-product-item {
  display: inline-block;
  margin-right: 3px;
}

.new-product-item:last-child {
  margin-left: auto;
  margin-right: 3px;
}

.size-text {
  font-size: small;
  padding-top: 10px;
}

.product-table-header a {
  color: #fff;
}

.product-table-header a:hover {
  color: #dee2e6;
  text-decoration: none;
}

li li:hover a {
  background: #00305c;
}

.product-search-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 以降はレイアウトとは無関係です */
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-search-flexbox-item {
  flex-basis: calc((100% - 20px) / 4);
  max-width: calc((100% - 20px) / 4);
  margin-top: 20px;
  /* 以降はレイアウトとは無関係です */
}

/* 1段目だけ上下マージンを無くす */
.product-search-flexbox-item:nth-of-type(1),
.product-search-flexbox-item:nth-of-type(2),
.product-search-flexbox-item:nth-of-type(3),
.product-search-flexbox-item:nth-of-type(4) {
  margin-top: 0;
}

/* 最終行のアイテム数が2OR3つの時、左右に振り分けられるのを防ぐ */
.product-search-flexbox-item:nth-of-type(4n-1):nth-last-of-type(1),
.product-search-flexbox-item:nth-of-type(4n-2):nth-last-of-type(1) {
  margin-right: auto;
  margin-left: 20px;
}

.product-search-flexbox-item:nth-of-type(4n-2):nth-last-of-type(2) {
  margin-right: 0;
  margin-left: 20px;
}
