@media screen and (min-width: 960px) {
  .user-login-form {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  .user-registration-form {
    text-align: center;
    display: inline-block;
    width: 50%;
  }

  .user-password-form {
    text-align: center;
    display: inline-block;
    width: 50%;
  }

  .user-confirmation-form {
    text-align: center;
    display: inline-block;
    width: 50%;
  }
  
  .user-login-field-group {
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
    height: 250px;
  }

  .user-registration-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }

  .user-password-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }

  .user-confirmation-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }
}

@media screen and (max-width: 960px) {
  img {
    width: 100%;
  }
  
  .user-login-form {
    margin-bottom: 1em;
  }

  // .user-registration-form {
  //   margin: 1em;
  // }

  .user-login-field-group {
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }

  .user-registration-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }

  .user-password-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }

  .user-confirmation-field {
    font-size: smaller;
    font-weight: nomal;
    text-align: left;
    border: solid 1px #47619c;
    border-radius: 10px;  
    padding: 1em;
  }
}

.shared-links {
  margin-top: 20px;
}

// .cancel-account-form {
//   color: #721c24;
//   background-color: #f8d7da;
//   border-color: #f5c6cb;
//   border-radius: 5px;
//   margin-top: 50px;
//   padding: 5px;
// }

.users-table {
  overflow: auto; /* 横スクロールバーを表示 */
  white-space: nowrap; /* セル内にあるテキストの折り返しを禁止 */
}

.user-table-header a {
  color: #fff;
}

.user-table-header a:hover {
  color: #dee2e6;
  text-decoration: none;
}

.user-search-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 以降はレイアウトとは無関係です */
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-search-flexbox-item {
  flex-basis: calc((100% - 20px) / 3);
  max-width: calc((100% - 20px) / 3);
  margin-top: 20px;
  /* 以降はレイアウトとは無関係です */
}

/* 1段目だけ上下マージンを無くす */
.user-search-flexbox-item:nth-of-type(1),
.user-search-flexbox-item:nth-of-type(2),
.user-search-flexbox-item:nth-of-type(3) {
  margin-top: 0;
}

/* 最終行のアイテム数が2OR3つの時、左右に振り分けられるのを防ぐ */
.user-search-flexbox-item:nth-of-type(3n-1):nth-last-of-type(1),
.user-search-flexbox-item:nth-of-type(3n-2):nth-last-of-type(1) {
  margin-right: auto;
  margin-left: 20px;
}

.user-search-flexbox-item:nth-of-type(3n-2):nth-last-of-type(2) {
  margin-right: 0;
  margin-left: 20px;
}