<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="edit-product-modal-label">
        <i class="far fa-file nav-icon"></i>
        &nbsp;
        パーツリスト修正
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= form_with model: @product, url: admins_product_path(@product), id: "product-edit-btn", method: :patch, remote: true do |f|  %>
        <%= render 'form', f: f %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary w-25" data-dismiss="modal">閉じる</button>
      <%= button_tag submit_text, class: "btn btn-sm btn-original shadow w-25", form: "product-edit-btn", data: { disable_with: '送信中' } %>
    </div>
  </div>
</div>
