<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand pl-3" href="<%= products_path %>">PARTS LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown pr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            管理アカウント
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= admins_brands_path %>">ブランド登録</a>
            <a class="dropdown-item" href="<%= admins_categories_path %>">カテゴリ登録</a>
            <a class="dropdown-item" href="#">ユーザー管理</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
